models/earth_gravity/xml-schemas/missions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:v="venus" targetNamespace="venus">
  <xsd:complexType name="range">
    <xsd:sequence>
      <xsd:element name="frm" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="to" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="missions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="generation" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string"/>
                  <xsd:attribute name="full_name" type="xsd:string"/>
                  <xsd:attribute name="unit" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="mission_list" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>      
              <xsd:element name="mission" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="image" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="achievements" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="achievement" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:attribute name="type">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="speed"/>
                                    <xsd:enumeration value="tries"/>
                                    <xsd:enumeration value="spec"/>
                                    <xsd:enumeration value="score"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:attribute>
                              <xsd:attribute name="xmlname" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                              <xsd:attribute name="full_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                              <xsd:attribute name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                              <xsd:sequence>
                                <xsd:element name="score" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:attribute name="level" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
                                    <xsd:attribute name="compare" minOccurs="0" maxOccurs="1">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:enumeration value="lesseq"/>
                                          <xsd:enumeration value="moreeq"/>
                                          <xsd:enumeration value="equal"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="full_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                    <xsd:attribute name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                    <xsd:attribute name="score_value" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
                                  </xsd:complexType>                    
                                </xsd:element>                            
                              </xsd:sequence>                         
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="generator" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="channel" type="v:range" minOccurs="0" maxOccurs="1"/>
                          <xsd:element name="control_stations" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="control_station" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="location_angle" type="v:range" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="name" type="xsd:string"/>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="messages" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="data" type="v:range" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="timeout" type="v:range" minOccurs="1" maxOccurs="1"/>
                              </xsd:sequence>
                              <xsd:attribute name="number" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="missiles" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="location_angle" type="v:range" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="launch_time" type="v:range" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="cooldown" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
                              </xsd:sequence>
                              <xsd:attribute name="number" type="xsd:positiveInteger"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="oneway_message" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="length" type="v:range" minOccurs="1" maxOccurs="1"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="orbit" type="v:range" minOccurs="1" maxOccurs="1"/>
                          <xsd:element name="precision" type="v:range" minOccurs="0" maxOccurs="1"/>
                          <xsd:element name="resolution" type="v:range" minOccurs="0" maxOccurs="1"/>
                          <xsd:element name="target" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="location_angle" type="v:range" minOccurs="0" maxOccurs="1"/>
                                <xsd:element name="orbit" type="v:range" minOccurs="0" maxOccurs="1"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="parameters" type="xsd:string"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="default" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="construction">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="fuel" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                                <xsd:element name="voltage" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                                <xsd:element name="xz_yz_solar_panel_fraction" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                                <xsd:element name="xz_yz_radiator_fraction" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                                <xsd:element name="xy_radiator_fraction" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="systems">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="system" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="program" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>           
                                    <xsd:attribute name="name" type="xsd:string"/>
                                    <xsd:attribute name="type" minOccurs="0" type="xsd:string"/>
                                    <xsd:attribute name="start_mode" minOccurs="0">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:enumeration value="ON"/>
                                          <xsd:enumeration value="OFF"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:attribute>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string"/>
                  <xsd:attribute name="full_name" type="xsd:string"/>
                  <xsd:attribute name="order" type="xsd:positiveInteger"/>
                  <xsd:attribute name="duration" type="xsd:decimal"/>
                  <xsd:attribute name="test" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
